ServiceBus/ServiceBusTests/Service References/OrderService/OrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedLibs.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedLibs.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Fatal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultType" nillable="true" type="tns:ResultType" />
  <xs:simpleType name="PDFDocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Order" />
      <xs:enumeration value="Invoice" />
      <xs:enumeration value="DeliveryNote" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PDFDocumentType" nillable="true" type="tns:PDFDocumentType" />
  <xs:simpleType name="OrderStateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Canceled" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Changed" />
      <xs:enumeration value="ReadyToSend" />
      <xs:enumeration value="Sent" />
      <xs:enumeration value="Paid" />
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStateType" nillable="true" type="tns:OrderStateType" />
</xs:schema>