ServiceBus/ServiceBus/Service References/ProductTypeServiceProxyClass/ProductTypeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54222/ProductTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLibs.DataContracts" />
  <xs:import schemaLocation="http://localhost:54222/ProductTypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SharedLibs.Enums" />
  <xs:element name="AddProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedLibs.DataContracts" minOccurs="0" name="AddProductTypeResult" nillable="true" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedLibs.Enums" minOccurs="0" name="productTypeE" type="q2:ProductTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedLibs.DataContracts" minOccurs="0" name="GetProductTypeResult" nillable="true" type="q3:ProductType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>