ServiceBus/ServiceBus/Service References/ProductTypeServiceProxyClass/ProductTypeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SharedLibs.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedLibs.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54222/ProductTypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SharedLibs.Enums" />
  <xs:import schemaLocation="http://localhost:54222/ProductTypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedLibs.Enums" minOccurs="0" name="ResultType" type="q1:ResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ProductType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Campaings" nillable="true" type="tns:ArrayOfCampaign" />
          <xs:element minOccurs="0" name="ID" type="ser:guid" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductType" nillable="true" type="tns:ProductType" />
  <xs:complexType name="DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO" nillable="true" type="tns:DTO" />
  <xs:complexType name="ArrayOfCampaign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Campaign" nillable="true" type="tns:Campaign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaign" nillable="true" type="tns:ArrayOfCampaign" />
  <xs:complexType name="Campaign">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Discount" type="xs:double" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Campaign" nillable="true" type="tns:Campaign" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="BasketItems" nillable="true" type="tns:ArrayOfBasketItem" />
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="Headliner" type="xs:boolean" />
          <xs:element minOccurs="0" name="ID" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:double" />
          <xs:element minOccurs="0" name="ProductType" nillable="true" type="tns:ProductType" />
          <xs:element minOccurs="0" name="Repairs" nillable="true" type="tns:ArrayOfRepair" />
          <xs:element minOccurs="0" name="Reservations" nillable="true" type="tns:ArrayOfReservation" />
          <xs:element minOccurs="0" name="StorageItems" nillable="true" type="tns:ArrayOfStorageItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfBasketItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasketItem" nillable="true" type="tns:BasketItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasketItem" nillable="true" type="tns:ArrayOfBasketItem" />
  <xs:complexType name="BasketItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BasketItem" nillable="true" type="tns:BasketItem" />
  <xs:complexType name="ArrayOfRepair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Repair" nillable="true" type="tns:Repair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepair" nillable="true" type="tns:ArrayOfRepair" />
  <xs:complexType name="Repair">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Repair" nillable="true" type="tns:Repair" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="ArrayOfStorageItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageItem" nillable="true" type="tns:StorageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageItem" nillable="true" type="tns:ArrayOfStorageItem" />
  <xs:complexType name="StorageItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StorageItem" nillable="true" type="tns:StorageItem" />
</xs:schema>